$bg: whitesmoke;

@mixin theme($color) {
    background-color: $color;
}

body {
    @include theme($color: $bg);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}